body, html{
    margin:0;
    padding:0;
}
@media only screen and (max-width:480px){
    .fas{
        position: fixed;
        top:0;
        background-color: white;
    }
.navbar1{
    position: relative;
    height:4rem; 
    margin:1rem 0;
   
}
.nav{
    height:50%;
    width:0;
    background-color: #32cd32;
    position:relative;
    z-index:2;
    top:0;
    left:0;
    overflow-x: hidden;
    padding-top:60px;
    transition:0.8s;
}
.nav ul {
    list-style: none;
   
}
.nav ul li a{
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    color:white;
    
}
.results{
    display:none;
}
.text{
    width:100%;
    font-weight: 500;
    font-size: 20px;
}
.form-bg{
   
    color:white;
    background-color: black;
    width:100%;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;

    
    
}
form{
    padding:2rem;
    
}
#first-name{
    margin:0 0 1rem 0;
}
.check-boxes{
    display: flex;
    margin: 0 0 1rem 10%;
}
.gender{
    text-align: center;
    margin:0 0 1rem 0;
    font-size:15px;
    color:lightskyblue;
}
.btn{
    margin:1rem 0 0 0;
}
.phone-results{
    
    color:white;
    width:100%;
    height:25rem;
     margin-top: 1rem; 
    background-color: black;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}


}
/* tablets, ipads and small screens*/
@media screen and (min-width:481px) and (max-width:768px){
    .fas{
        position: fixed;
        top:0;
        background-color: white;
    }
    .navbar1{
        position: relative;
        height:4rem; 
        margin:1rem 0;
       
    }
    .nav{
        height:50%;
        width:0;
        background-color: #32cd32;
        position:fixed;
        z-index:2;
        top:0;
        left:0;
        overflow-x: hidden;
        padding-top:60px;
        transition:0.8s;
    }
    .nav ul {
        list-style: none;
       
    }
    .nav ul li a{
        text-decoration: none;
        font-weight: 700;
        font-size: 20px;
        color:white;
        
    }
}
